 html {
  box-sizing: border-box;
  padding:0
}
*, *:before, *:after {
  box-sizing: inherit;
}

.linkbar, .content, .content-primary, .quote,
.content-calltoaction, .footer-text {
  margin: auto 125px;
}


.image {
  flex: 1 1 auto;
  border: 4px solid rgb(74, 132, 239);
  height: 150px;
  width: 150px;
}

.caption {
  color: gray;
  width: 150px;
  font-size: 16px;
  flex: 0 1 auto;
  padding: 4px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Ubuntu, 'Open Sans', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  padding: 24px 0px;
}

.linkbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap:16px;
}


.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

.content {
  display: flex;
  align-items: center;
}

.content-main {
  flex: 1 1 0;
  width: 600px;
  margin-right: 16px;
}

.header-image {
  flex: 1 1 0;
  color: #E5E7EB;
  text-align: center;
  background-color: rgb(90, 91, 96);
  padding: auto;
  line-height: 15em;
}

.content-items {
  flex: 1 1 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 0px 60px;
  gap: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.item div {
  border-radius: 16px;
}

.content-primary {
  margin-bottom: 80px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}


.hero-main-text, .secondary {
  margin-bottom: 8px;
}

.content-quote {
  background-color: #E5E7EB;
  padding-top: 100px;
  padding-bottom: 100px;
}


.content {
  margin-top: 120px;
  margin-bottom: 60px;
  align-items: stretch;
}



.secondary {
  font-size: 18px;
  color: #E5E7EB;
}


h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 40px;
  color: #1F2937;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

a:hover {
  color: white;
}

button {
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  margin-top: 8px;
  flex: 0 0 auto;
}

button:hover {
  background-color: #265cb4;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: 100;
}

.quote-author {
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 24px;
  margin-right: 32px;
  color: #1F2937;
}


.quote, .quote-author {
  padding: 0px 20px;

}


.content-calltoaction {
  margin-top: 60px;
  margin-bottom: 60px;

}

.calltoaction-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #3882F6;
  gap: 10px;
  padding: 20px;
}

.calltoaction-button {
  border: 1px solid #E5E7EB;
  margin-right: 16px;
}

.calltoaction-text {
  color: #E5E7EB;
  padding: 16px 48px;
}

.calltoaction-text div {
  font-weight: 100;
}

h3 {
  margin: 0;

}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  height: 100px;
}

.footer-text {
  text-align: center;
  color: #E5E7EB;
}

